body {
	font-family: "Courier New", sans-serif;
}

.absolute-fill {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
}

div {
	box-sizing: border-box;
}

.box {
	border: 1px solid black;
	margin: 5px;
}
